@page "/"
@using CarRentalCommon.Interfaces;
@using CarRentalCommon.Enums;
@using CarRentalBusinessLogic.Classes;
@using System.Linq;
@inject BookingProcessor BookingService

<PageTitle>Booking Engine</PageTitle>

<div class="container-fluid p-5 pb-1">
    <div class="row">
        <div class="col">
            <h3>Vehicles</h3>
            <table class="table table-borderless text-nowrap">
                <thead>
                    <tr>
                        <th style="width: 10%;">Reg. No.</th>
                        <th style="width: 10%;">Vehicle type</th>
                        <th style="width: 10%;">Make</th>
                        <th style="width: 10%;">Odometer (km)</th>
                        <th style="width: 10%;">Cost/km (€)</th>
                        <th style="width: 10%;">Cost/Day (€)</th>
                        <th style="width: 40%;">Status</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (IVehicle vehicle in BookingService.GetVehicles())
                    {
                        var vehicleStatus = BookingService.IsVehicleBooked(vehicle.RegNo);

                        <tr>
                            <td>@vehicle.RegNo</td>
                            <td>@vehicle.VehicleType</td>
                            <td>@vehicle.Make</td>
                            <td>@vehicle.Odometer</td>
                            <td>@vehicle.CostKm</td>
                            <td>@vehicle.CostDay</td>
                            <td class="@(vehicleStatus == VehicleStatuses.Available ? "badge bg-success" : "badge bg-warning") text-white mt-2">
                                @vehicleStatus
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

<div class="container-fluid p-5 py-1">
    <div class="row">
        <div class="col">
            <h3>Bookings</h3>
            <table class="table table-borderless text-nowrap">
                <thead>
                    <tr>
                        <th style="width: 10%;">Reg. No.</th>
                        <th style="width: 10%;">Customer</th>
                        <th style="width: 10%;">Odometer (km)</th>
                        <th style="width: 10%;">Odometer after renting (km)</th>
                        <th style="width: 10%;">Rented (date)</th>
                        <th style="width: 10%;">Returned (date)</th>
                        <th style="width: 10%;">Status</th>
                        <th style="width: 30%;">Cost</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (IBooking booking in BookingService.GetBookings())
                    {
                        <tr>
                            <td>@booking.Vehicle.RegNo</td>
                            <td>@booking.Customer.FirstName @booking.Customer.LastName</td>
                            <td>@booking.Odometer</td>
                            <td><input @bind="booking.KmDriven" placeholder="Enter value (then press Enter)" /></td>
                            <td><input type="date" @bind="booking.RentDate" /></td>
                            <td><input type="date" @bind="booking.ReturnDate" placeholder="yyyy-MM-dd" /></td>
                            <td class="@(BookingService.IsVehicleBooked(booking.Vehicle.RegNo) == VehicleStatuses.Booked ? "badge bg-warning" : "badge bg-success") mt-2 text-white">
                                    @(BookingService.IsVehicleBooked(booking.Vehicle.RegNo) == VehicleStatuses.Booked ? "On-going" : "Returned")
                            </td>
                            <td>@BookingService.TotalCost(booking)</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

<div class="container-fluid p-5 py-1">
    <div class="row">
        <div class="col">
            <h3>Customers</h3>
            <table class="table table-borderless text-nowrap">
                <thead>
                    <tr>
                        <th style="width: 15%;">Social Security No.</th>
                        <th style="width: 15%;">First Name</th>
                        <th style="width: 70%;">Last Name</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (IPersons customer in BookingService.GetCustomers())
                    {
                        <tr>
                            <td>@customer.SSN</td>
                            <td>@customer.FirstName</td>
                            <td>@customer.LastName</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
