@inject Services services

<div class="container-fluid py-5">
    <div class="row my-5">
        <h2 class="display-4">Our Vehicles</h2>
        <h3 class="display-6 fw-light highlight">Take a Look at Our Currated Collection</h3>
    </div>
    <div class="row">

        <!-- Vehicle Selection Column -->
        <div class="col-12 col-lg-3">
            <h4 class="fw-light border-bottom pb-2">Select a Model</h4>
            <div>
                @foreach (var vehicle in vehicles)
                {
                    <button type="button"
                            class="btn btn-sm @(vehicle.RegNo == currentVehicle.RegNo ? "btn-outline-dark" : "btn-outline-dark border-0") d-flex align-items-center w-100 p-2 my-1"
                            @onclick="() => SetCurrentVehicle(vehicle)">
                        <span class="@((services.BookingStatus(vehicle.RegNo) == VehicleStatus.Available) ? "bi-circle-fill text-success" : "bi-circle-fill text-danger") me-2">
                        </span>
                        @vehicle.Make
                    </button>
                }
            </div>
            <h4 class="pt-4 border-bottom pb-2">Rent Now</h4>
            <div class="">
                <div class="">
                    <a class="btn btn-sm btn-dark" href="contact">
                        Inqueries
                    </a>
                </div>
            </div>
        </div>

        <!-- Vehicle Image Column -->
        <div class="col-12 col-lg-6 text-center">
            <h4 class="display-6">@currentVehicle.Make</h4>
            <small class="text-muted">@currentVehicle.Year</small>
            <img src="@($"/images/Fleet/{currentVehicle.RegNo}.png")" alt="Image of @currentVehicle.RegNo" class="img-fluid w-100" />
            <h6 class="text-start text-muted ">@currentVehicle.Info</h6>
        </div>

        <!-- Vehicle Information Column -->
        <div class="col-12 col-lg-3">
            <table class="table table-borderless m-0">
                <tbody>
                    <tr>
                        <td colspan="2" class="border-bottom fw-light h4">Vehicle Details</td>
                    </tr>
                    <tr>
                        <td class="col-3 fw-bold ">Type:</td>
                        <td class="col-9">@currentVehicle.VehicleType</td>
                    </tr>
                    <tr>
                        <td class="col-3 fw-bold ">Make:</td>
                        <td class="col-9">@currentVehicle.Make</td>
                    </tr>
                    <tr>
                        <td class="col-3 fw-bold ">
                            @if (currentVehicle is ICar car)
                            {
                                <span>Doors</span>
                            }
                            else if (currentVehicle is IMotorcycle mc)
                            {
                                <span>Seats</span>
                            }
                        </td>
                        <td class="col-9">
                            @if (currentVehicle is ICar cars)
                            {
                                @cars.Doors.ToString()
                            }
                            else if (currentVehicle is IMotorcycle mcs)
                            {
                                @mcs.Seats.ToString()
                            }
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2" class="fw-light border-bottom h4 pt-4">Rental Information</td>
                    </tr>
                    <tr>
                        <td class="col-3 fw-bold ">Odometer:</td>
                        <td class="col-9">@currentVehicle.Odometer km</td>
                    </tr>
                    
                    <tr>
                        <td class="col-3 fw-bold ">Cost/km:</td>
                        <td class="col-9 ">@currentVehicle.CostKm €</td>
                    </tr>
                    <tr>
                        <td class="col-3 fw-bold ">Cost/day:</td>
                        <td class="col-9">@currentVehicle.CostDay €</td>
                    </tr>
                    <tr>
                        <td class="col-3 fw-bold ">Status:</td>
                        <td class="col-9">
                            <span class="@((services.BookingStatus(currentVehicle.RegNo) == VehicleStatus.Available) ? "bi-circle-fill text-success" : "bi-circle-fill text-danger")">
                            </span>
                            <span class="text-uppercase">
                                @(services.BookingStatus(currentVehicle.RegNo) == VehicleStatus.Available ? " Available" : " Booked")
                            </span>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>


@code {

    private IVehicle currentVehicle;
    private List<IVehicle> vehicles = new();

    protected override void OnInitialized()
    {
        vehicles = services.Get<IVehicle>().ToList();
        currentVehicle = vehicles.FirstOrDefault();
    }

    private void SetCurrentVehicle(IVehicle vehicle)
    {
        currentVehicle = vehicle;
    }
}
